body
{
	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    letter-spacing: 5px ;
    margin: 5px;
    padding: 5px;
}

.h1
{
    text-align: center;
}

.social-media
{
    float: right;
    margin: 5px;

}

a:link
{
    text-decoration: none;
    display: block;
    color: #ffffff;
}
a:visited
{
    text-decoration: none;
    display: block;
    color: #ffffff;
}
a:hover
{
    text-decoration: none;
    display: block;
    color: black;
}

a:hover
{
    text-decoration: none;
    display: block;
    color: black;
    font-weight: 1000;

}

.menu-list
{
    list-style: none;
}

.sociallink
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

